.button{
    background: $color-primary;
    border-radius: 2rem;
    color: $color-white;
}
.button:hover{
    background: $color-primary-dark;
    border-radius: 2rem;
    color: $color-white;
    text-decoration: none;
}