$color-primary: #5a31c9;
$color-primary-dark:darken($color-primary, 20%);
$color-primary-light: lighten($color-primary, 20%);
$color-white: #ffffff;
$color-black: rgb(0, 0, 0);
$color-dark-grey: #414141;